<launch>
  <arg name="host_ip" default="192.168.1.63"/>
  <arg name="vel_topic" default="/uav_1/ual/set_velocity"/>
  
  <!-- to do -->
  <!-- <param name="host_ip" value="$(arg host_ip)"/> -->

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <node pkg="ros_joy_js" type="phoneRun.bash" name="phoneRun" output="screen">
    <param name="vel_topic" value="$(arg vel_topic)"/>
  </node>

</launch>